$background: #20202A;
$foreground: #ced4df;

$black:      #2c2e3e;
$altblack:   #3d4059;
$red:        #EBB9B9;
$green:      #CAF6BB;
$yellow:     #EBE3B9;
$blue:       #CDDBF9;
$magenta:    #F6BBE7;
$cyan:       #B8DCEB;
