$background: #1E1E2E;
$foreground: #CDD6F4;

$black:      #2f2e3e;
$altblack:   #414050;
$red:        #F38BA8;
$green:      #A6E3A1;
$yellow:     #F9E2AF;
$blue:       #89B4FA;
$magenta:    #F5C2E7;
$cyan:       #94E2D5;
