$background: #141b1e;
$foreground: #dadada;

$black:      #232a2d;
$altblack:   #2d3437;
$red:        #e57474;
$green:      #8ccf7e;
$yellow:     #e5c76b;
$blue:       #67b0e8;
$magenta:    #c47fd5;
$cyan:       #6cbfbf;
