$background: #282828;
$foreground: #d4be98;

$black:      #3c3836;
$altblack:   #45403d;
$red:        #ea6962;
$green:      #a9b665;
$yellow:     #d8a657;
$blue:       #7daea3;
$magenta:    #d3869b;
$cyan:       #89b482;
