$background: #0f0f0f;
$foreground: #f0f0f0;

$black:      #262626;
$altblack:   #4c4c4c;
$red:        #ac8a8c;
$green:      #8aac8b;
$yellow:     #aca98a;
$blue:       #8f8aac;
$magenta:    #ac8aac;
$cyan:       #8aabac;
