$background: #2e3440;
$foreground: #d8dee9;

$black:      #3b4252;
$altblack:   #4c566a;
$red:        #bf616a;
$green:      #a3be8c;
$yellow:     #ebcb8b;
$blue:       #81a1c1;
$magenta:    #b48ead;
$cyan:       #88c0d0;
