$background: #1e2127;
$foreground: #e6efff;

$black:      #282c34;
$altblack:   #353b45;
$red:        #e06c75;
$green:      #98c379;
$yellow:     #d19a66;
$blue:       #61afef;
$magenta:    #c678dd;
$cyan:       #56b6c2;
